@import url("styles/headers.css");
@import url("styles/box.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #c6deeb;
    --branco: #FFFFFF;
    --marrom: #ceb076;
    --vermelho: #be1f07;
    --fonte-principal: "Poppins";
    --preto: #000000;
    --amarelo : #f6f7c7; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
}

.final-box{
    background-color: rgb(75, 116, 190);
    width: 950px;
    height: 80px;
    text-align: center;
    margin: auto;  
}
  
.produto-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 768px){
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
}
    
body.dark {
    background: #292c35;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }
  