@import url("styles/headers.css");
@import url("styles/box.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #c6deeb;
    --branco: #FFFFFF;
    --marrom: #ceb076;
    --vermelho: #be1f07;
    --fonte-principal: "Poppins";
    --preto: #000000;
    --amarelo : #f6f7c7; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
}

.final-box{
    background-color: rgb(75, 116, 190);
    width: 950px;
    height: 80px;
    text-align: center;
    margin: auto;  
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (max-width:767px) {
    
}
    
@media screen and (min-width:767px) and (max-width:1023px){
    
}
